@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-rose-50 text-slate-900;
  }
}

.glass-card {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
}
